<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                     http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-autowire="byName">
    <!--rest配置-->
    <bean id="requestFactory" class="org.springframework.http.client.HttpComponentsClientHttpRequestFactory">
        <property name="connectTimeout" value="0"/>
    </bean>
    <bean id="restTemplate" class="org.springframework.web.client.RestTemplate">
        <property name="requestFactory" ref="requestFactory"/>
    </bean>
</beans>