<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="Console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %p - %C[%L] - %m \n" />
		</layout>
	</appender>
	
	<appender name="Default" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="encoding" value="UTF-8" />
		<param name="file" value="${log.path}/default.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%7r] %6p - %30.30c - %m \n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="ERROR" />
		</filter>
	</appender>

	<category name="DefaultLog" additivity="false">
		<priority value="ERROR" />
		<appender-ref ref="Default" />
	</category>

	<root>
		<priority value="INFO" />
		<appender-ref ref="Default"/>
		<appender-ref ref="Console" />
	</root>
</log4j:configuration>